<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>WebService Workshop</display-name>

    <servlet>
        <servlet-name>{your webservice as a servlet name}</servlet-name>
        <servlet-class>com.workshop.webservice.VariousServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>{must be same as above servlet-name}</servlet-name>
        <url-pattern>/{same as url-pattern in sun-jaxws.xml}/*</url-pattern>
    </servlet-mapping>

</web-app>